Repository yslide/slide, pull requests merged in 2020-05, with the labels that each got.

#22 Support paranthesized and braced expressions
  libslide/src/grammar.rs
  libslide/src/parser.rs
  libslide/src/printer.rs
  libslide/src/visitor.rs
Labels: effort:1, feature, lib

#25 Add codeowners and pull request labeler
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: t:github

#23 Parser update
  libslide/src/interpreter.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, t:tools

#27 Minor parser refactor
  libslide/src/parser.rs
Labels: a:lib

#28 Clean up public API and add slide app
  libslide/src/grammar.rs
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/printer.rs
  libslide/src/utils.rs
  slide/src/main.rs
Labels: a:bin, a:lib, t:feature, t:refactor

#29 Remove printer in favor of grammars' display trait
  libslide/src/grammar.rs
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/printer.rs
  slide/src/main.rs
Labels: a:bin, a:lib, effort:1, t:refactor

#33 Consolidate Float and Int expressions as Const
  libslide/src/grammar.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
  libslide/src/visitor.rs
Labels: a:lib, effort:1, size/L

#31 Bignum
  libslide/src/bignum.rs
  libslide/src/bignum/add.rs
  libslide/src/lib.rs
Labels: a:lib, effort:1, effort:2, size/L, t:feature, t:tools

#35 Apply rules on nested expressions
  libslide/src/evaluator_rules.rs
  libslide/src/evaluator_rules/pattern_matching.rs
  libslide/src/grammar/transformer.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/L

#36 Minor refactor to add operation
  libslide/src/bignum/add.rs
Labels: a:lib, size/S

#38 Fix allowed failures configuration
  .travis.yml
Labels: size/XS

#41 Do not clone int during bignum creation
  libslide/src/bignum.rs
Labels: a:lib, size/XS

#39 Refactor lexer and parser to use iterators
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
  libslide/src/utils.rs
  libslide/src/utils/iter.rs
Labels: a:lib, size/L

#40 Add commutative rule and pattern matching tests
  libslide/src/evaluator_rules.rs
  libslide/src/evaluator_rules/pattern_matching.rs
  libslide/src/evaluator_rules/variables.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/L

#37 Remove support for arbitrary variable matching variable pattern
  libslide/src/bignum.rs
  libslide/src/evaluator_rules.rs
  libslide/src/evaluator_rules/variables.rs
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/parser/test_utils.rs
  libslide/src/partial_evaluator.rs
  libslide/src/scanner.rs
  libslide/src/scanner/options.rs
  libslide/src/scanner/types.rs
  libslide/src/utils.rs
  libslide/src/utils/iter.rs
  libslide/src/utils/string.rs
  slide/src/main.rs
Labels: a:bin, a:lib, size/XL

#42 Separate pattern and expression grammars
  libslide/src/evaluator_rules.rs
  libslide/src/evaluator_rules/pattern_matching.rs
  libslide/src/evaluator_rules/variables.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/grammar/transformer.rs
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/parser/test_utils.rs
  libslide/src/partial_evaluator.rs
  slide/src/main.rs
Labels: a:bin, a:lib, size/XL

#45 Added sub for bignum
  libslide/src/bignum.rs
  libslide/src/bignum/add.rs
  libslide/src/bignum/compare.rs
  libslide/src/bignum/negate.rs
  libslide/src/bignum/sub.rs
  libslide/src/bignum/utils.rs
Labels: a:lib, size/L

#47 Add support for function rules
  .rustfmt.toml
  libslide/src/evaluator_rules.rs
  libslide/src/evaluator_rules/mod.rs
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/registry/fn_rules.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/grammar.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/XL

#48 Common subexpression elimination
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/registry/fn_rules.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils.rs
  libslide/src/utils/hash.rs
Labels: a:lib, size/XL

#51 Allow removing evaluation rules
  libslide/src/evaluator_rules/mod.rs
  libslide/src/evaluator_rules/registry.rs
  libslide/src/lib.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  slide/src/main.rs
Labels: a:bin, a:lib, size/L

#52 Complex Numbers for floats.
  libslide/src/bignum.rs
  libslide/src/bignum/complex.rs
Labels: a:lib, size/L

#58 Add private dev documentation
  .travis.yml
  README.md
Labels: size/S

#61 Fix docs link
  README.md
Labels: size/XS

#62 One more doc link hotfix
  README.md
Labels: size/XS

#60 logo?
  .gitignore
  README.md
  assets/logo-def.tex
  assets/logo.png
  scripts/autotrim
Labels: t:tools

#57 Generalize parantheses unwrapping and bootstrap rules
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/parser/test_utils.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/XL

#64 Parse implicit multiplication
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/utils/iter.rs
Labels: a:lib, size/L

#53 added support for fft
  libslide/src/bignum/complex.rs
  libslide/src/bignum/utils.rs
Labels: a:lib, size/M

#65 Apply rules on associative nodes
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/grammar.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/L

#67 Validate rules during building
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils/grammar.rs
  libslide/src/utils/string.rs
  slide/src/main.rs
Labels: a:bin, a:lib, size/L

#69 Additive inverse rule
  libslide/src/evaluator_rules/registry.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/XS

#68 Small refactor of evaluation process
  libslide/src/evaluator_rules/registry/fn_rules.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/L

#70 Flatten subtraction subexpressions in addition, and other ideas
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/registry/fn_rules.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/grammar.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/L

#72 gcd
  .gitignore
  libslide/Cargo.toml
  libslide/benches/math/gcd.rs
  libslide/src/lib.rs
  libslide/src/math/gcd.rs
  libslide/src/math/mod.rs
Labels: a:lib, size/L

#73 Bignum mul
  libslide/src/bignum.rs
  libslide/src/bignum/complex.rs
  libslide/src/bignum/mul.rs
  libslide/src/bignum/sub.rs
  libslide/src/bignum/utils.rs
Labels: a:lib, size/L, t:feature, t:test

#74 Bignum mod
  libslide/Cargo.toml
  libslide/benches/bignum/modulo.rs
  libslide/src/bignum.rs
  libslide/src/bignum/modulo.rs
  libslide/src/lib.rs
Labels: a:lib, size/L, t:feature

#77 Eval fn test fail
  libslide/src/evaluator_rules/registry.rs
Labels: a:lib, size/XS

#80 Bignum test
  libslide/src/bignum.rs
  libslide/src/bignum/add.rs
  libslide/src/bignum/modulo.rs
  libslide/src/bignum/mul.rs
  libslide/src/bignum/sub.rs
Labels: a:lib, size/M
