Repository yslide/slide, pull requests merged in 2020-06, with the labels that each got.

#86 fixed brace -> bracket
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/M

#85 extern bignum
  libslide/Cargo.toml
  libslide/benches/bignum/modulo.rs
  libslide/src/bignum.rs
  libslide/src/bignum/add.rs
  libslide/src/bignum/compare.rs
  libslide/src/bignum/complex.rs
  libslide/src/bignum/modulo.rs
  libslide/src/bignum/mul.rs
  libslide/src/bignum/negate.rs
  libslide/src/bignum/sub.rs
  libslide/src/bignum/utils.rs
  libslide/src/lib.rs
Labels: a:lib, size/XXL

#91 Add @timothycobrien as a codeowner
  .github/CODEOWNERS
Labels: size/XS, t:github

#90 Add subtractive identity rule
  libslide/src/evaluator_rules/registry.rs
  libslide/src/partial_evaluator.rs
Labels: a:lib, size/XS

#93 Added rug dependency
  libslide/Cargo.toml
Labels: a:lib, size/XS

#94 remove deps from docs
  .travis.yml
Labels: size/XS

#98 Support outputting result in s-expression or debug form
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/lib.rs
  slide/Cargo.toml
  slide/src/main.rs
Labels: a:bin, a:lib, size/L

#99 Flatten expressions commutatively
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/grammar.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/flatten.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/L

#100 Add documentation for flatten module added in #99
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/partial_evaluator/flatten.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/utils/grammar.rs
Labels: a:lib, size/L

#75 Heuristic polynomial GCD ∈ Z
  libslide/Cargo.toml
  libslide/benches/math/gcd_poly_zz.rs
  libslide/src/math/gcd_poly_zz.rs
  libslide/src/math/mod.rs
  libslide/src/math/poly.rs
Labels: a:lib, size/XL

#108 Add kudos
  KUDOS.md
Labels: size/S

#109 Setup system tests and test harness
  ladder
  slide/Cargo.toml
  slide/src/lib.rs
  slide/src/test/README.md
  slide/src/test/mod.rs
  slide/src/test/ui/add.slide
  slide/src/test/ui/add_x_1_2.slide
  slide/src/test/ui/output_form/debug.slide
  slide/src/test/ui/output_form/pretty.slide
  slide/src/test/ui/output_form/s_expression.slide
Labels: a:bin, c:test, e:2, size/XL, x:novel/fun

#112 Record token positions during scanning
  libslide/src/parser.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
  libslide/src/utils/iter.rs
Labels: a:lib, c:parser, e:1, size/L

#114 Add squash command to ladder
  ladder
Labels: size/S

#116 Emit nicely-formatted scanning diagnostics
  libslide/src/common.rs
  libslide/src/diagnostics.rs
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/lib.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/parser/test_utils.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/flatten.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
  libslide/src/utils/grammar.rs
  slide/Cargo.toml
  slide/src/diagnostics.rs
  slide/src/main.rs
  slide/src/test/ui/error/invalid_token.slide
  slide/src/test/ui/error/invalid_token_multiline.slide
Labels: a:bin, a:lib, size/L

#120 Emit parser errors
  libslide/src/diagnostics.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/scanner.rs
  slide/src/diagnostics.rs
  slide/src/main.rs
  slide/src/test/mod.rs
  slide/src/test/ui/error/expected_expr_found_eof.slide
  slide/src/test/ui/error/invalid_token.slide
  slide/src/test/ui/error/invalid_token_multiline.slide
  slide/src/test/ui/error/pattern/any_pat_in_expr.slide
  slide/src/test/ui/error/pattern/const_pat_in_expr.slide
  slide/src/test/ui/error/pattern/var_pat_in_expr.slide
  slide/src/test/ui/error/variable/var_in_expr_pat.slide
Labels: a:bin, a:lib, c:errors, c:parser, size/XL

#121 Report errors in parser rather than panicking
  libslide/src/diagnostics.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
  slide/src/diagnostics.rs
  slide/src/test/ui/error/expected_close_bracket.slide
  slide/src/test/ui/error/expected_close_bracket_eof.slide
  slide/src/test/ui/error/expected_close_paren.slide
  slide/src/test/ui/error/expected_close_paren_eof.slide
  slide/src/test/ui/error/expected_expr_found_div.slide
  slide/src/test/ui/error/expected_expr_found_mod.slide
  slide/src/test/ui/error/expected_expr_found_mult.slide
  slide/src/test/ui/error/expected_expr_found_pow.slide
  slide/src/test/ui/error/expected_expr_multiple.slide
  slide/src/test/ui/error/missing_expr_and_closer.slide
  slide/src/test/ui/error/multiple_missing_closer.slide
  slide/src/test/ui/error/open_paren_then_eof.slide
Labels: a:bin, a:lib, c:errors, c:parser, size/XL

#127 Report error when slide panics
  slide/src/main.rs
  slide/src/test/mod.rs
  slide/src/test/ui/tokens_past_expr.slide
Labels: a:bin, size/M

#128 Report diagnostic for extra tokens following an expression
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  slide/src/test/ui/extra_items.slide
  slide/src/test/ui/extra_items_expr_pat.slide
Labels: a:bin, a:lib, size/M

#132 Attach gifs to lgtm comments
  .github/workflows/labeler.yml
  .github/workflows/lgtm.yml
Labels: size/S

#133 Fixing lgtm override option
  .github/workflows/lgtm.yml
Labels: size/XS

#131 Add vim command
  editor/README.md
  editor/slide.vim
  editor/slide.vim.example
Labels: size/S

#130 Add design document
  docs/DESIGN.md
Labels: size/L

#136 Rules for folding exponents
  libslide/src/evaluator_rules/registry.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  slide/src/test/ui/exp/exp.slide
  slide/src/test/ui/exp/exp_associated.slide
  slide/src/test/ui/exp/exp_nested_left.slide
  slide/src/test/ui/exp/fold_exp_div_large_pow.slide
  slide/src/test/ui/exp/fold_exp_div_left.slide
  slide/src/test/ui/exp/fold_exp_div_right.slide
  slide/src/test/ui/exp/fold_exp_large_pow.slide
  slide/src/test/ui/exp/fold_exp_left.slide
  slide/src/test/ui/exp/fold_exp_right.slide
  slide/src/test/ui/exp/fold_exp_simple.slide
Labels: a:bin, a:lib

#129 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/M

#139 Fix broken help-wanted badge link
  CONTRIBUTING.md
Labels: size/XS

#141 Fuzz with nightly compiler
  .github/workflows/fuzz.yml
Labels: size/XS, t:github

#148 Use external float parser rather than rustc's
  libslide/Cargo.toml
  libslide/src/scanner.rs
  slide/fuzz/seed/MTEAGjAwMDAwMDAwLjAwMDAxMQAaMDAwMDAwMDAuMDAwMDAwMDA0ABowMDAwMDAwMC4wMDAwMDAwMDAwMDA0ABowMDAwMDAwMC4wMDU1NTU1NTU1NTU1NTU1NTU1NT
  slide/src/test/ui/giant_float.slide
Labels: a:bin, a:lib

#149 Include crashed fuzz test case in fuzz output
  .github/workflows/fuzz.yml
Labels: t:github
