Repository yslide/slide, pull requests merged in 2020-04, with the labels that each got.

#6 Initial parser
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/parser/types.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
Labels: effort:2, feature, lib

#8 Fix bracket test cases
  libslide/src/parser.rs
Labels: bug/fix, effort:1, lib, test

#11 Fix travis allowed failures
  .travis.yml
Labels: lib, test

#14 Parse programs as a statement, refine operators, create parser macro
  libslide/src/parser.rs
  libslide/src/parser/types.rs
Labels: bug/fix, effort:1, feature, lib

#16 Parse variables in expressions
  libslide/src/parser.rs
  libslide/src/parser/types.rs
  libslide/src/scanner.rs
  libslide/src/scanner/types.rs
Labels: effort:1, effort:2, feature, lib

#12 Evaluate
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/scanner.rs
  libslide/src/visitor.rs
Labels: effort:2, effort:3, feature, lib

#19 Basic printer
  libslide/src/lib.rs
  libslide/src/partial_evaluator.rs
  libslide/src/printer.rs
  libslide/src/visitor.rs
Labels: effort:1, feature, lib

#20 Minor refactor
  libslide/src/grammar.rs
  libslide/src/lib.rs
  libslide/src/parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/types.rs
  libslide/src/printer.rs
  libslide/src/scanner.rs
  libslide/src/utils.rs
  libslide/src/visitor.rs
Labels: lib
