Repository yslide/slide, pull requests merged in 2020-08, with the labels that each got.

#163 Add format emit strategies to libslide
  libslide/src/emit.rs
  libslide/src/grammar.rs
  libslide/src/grammar/pattern.rs
  libslide/src/lib.rs
  libslide/src/partial_evaluator/flatten.rs
  slide/src/lib.rs
  slide/src/main.rs
  slide/src/test/mod.rs
Labels: a:bin, a:lib, c:emit, e:1

#165 Fix fuzzer build failure
  .travis.yml
  slide/fuzz/Cargo.toml
  slide/fuzz/fuzz_targets/slide.rs
Labels: a:bin

#168 Reverse order of coefficient vector stored inside a Poly
  libslide/src/math/gcd_poly_zz.rs
  libslide/src/math/poly.rs
Labels: a:lib

#174 Add link to report bugs on slide UI
  .travis.yml
  scripts/build_wasm
  scripts/build_www
  www/index.html
Labels: t:tools

#175 Use \mod for mod emit in latex and wrap latex emit as inline math
  libslide/src/emit.rs
  slide/src/test/ui/emit/latex.slide
  slide/src/test/ui/emit/latex/add.slide
  slide/src/test/ui/emit/latex/add_nested_left.slide
  slide/src/test/ui/emit/latex/add_nested_right.slide
  slide/src/test/ui/emit/latex/add_nested_with_reorder.slide
  slide/src/test/ui/emit/latex/additive_identity_any.slide
  slide/src/test/ui/emit/latex/additive_identity_const.slide
  slide/src/test/ui/emit/latex/additive_identity_nested.slide
  slide/src/test/ui/emit/latex/additive_identity_var.slide
  slide/src/test/ui/emit/latex/additive_identity_with_reorder.slide
  slide/src/test/ui/emit/latex/additive_inverse_any.slide
  slide/src/test/ui/emit/latex/additive_inverse_const.slide
  slide/src/test/ui/emit/latex/additive_inverse_nested.slide
  slide/src/test/ui/emit/latex/additive_inverse_var.slide
  slide/src/test/ui/emit/latex/additive_inverse_with_reorder.slide
  slide/src/test/ui/emit/latex/assign.slide
  slide/src/test/ui/emit/latex/distribute_negation.slide
  slide/src/test/ui/emit/latex/distribute_negation_nested.slide
  slide/src/test/ui/emit/latex/distribute_negation_with_eval.slide
  slide/src/test/ui/emit/latex/div.slide
  slide/src/test/ui/emit/latex/div_associated.slide
  slide/src/test/ui/emit/latex/div_nested_left.slide
  slide/src/test/ui/emit/latex/exp.slide
  slide/src/test/ui/emit/latex/exp_associated.slide
  slide/src/test/ui/emit/latex/exp_nested_left.slide
  slide/src/test/ui/emit/latex/flattened_addition.slide
  slide/src/test/ui/emit/latex/issue_92.slide
  slide/src/test/ui/emit/latex/modulo.slide
  slide/src/test/ui/emit/latex/modulo_associated.slide
  slide/src/test/ui/emit/latex/modulo_nested_left.slide
  slide/src/test/ui/emit/latex/mult.slide
  slide/src/test/ui/emit/latex/mult_nested_left.slide
  slide/src/test/ui/emit/latex/negate.slide
  slide/src/test/ui/emit/latex/negate_nested.slide
  slide/src/test/ui/emit/latex/posate.slide
  slide/src/test/ui/emit/latex/posate_nested.slide
  slide/src/test/ui/emit/latex/posate_nested_prec.slide
  slide/src/test/ui/emit/latex/posate_nested_right.slide
  slide/src/test/ui/emit/latex/reorder_constants.slide
  slide/src/test/ui/emit/latex/reorder_constants_nested.slide
  slide/src/test/ui/emit/latex/reorder_constants_nested_left.slide
  slide/src/test/ui/emit/latex/reorder_constants_nested_right.slide
  slide/src/test/ui/emit/latex/sub.slide
  slide/src/test/ui/emit/latex/sub_nested_left.slide
  slide/src/test/ui/emit/latex/subtractive_identity_any.slide
  slide/src/test/ui/emit/latex/subtractive_identity_const.slide
  slide/src/test/ui/emit/latex/subtractive_identity_nested.slide
  slide/src/test/ui/emit/latex/subtractive_identity_var.slide
  slide/src/test/ui/emit/latex/subtractive_identity_with_reorder.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_const.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_nested.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_var.slide
  slide/src/test/ui/emit/latex/unwrap_parens_const.slide
  slide/src/test/ui/emit/latex/unwrap_parens_nested.slide
  slide/src/test/ui/emit/latex/unwrap_parens_var.slide
Labels: a:bin, a:lib

#176 Removed `\`
  libslide/src/emit.rs
  slide/src/test/ui/emit/latex.slide
  slide/src/test/ui/emit/latex/additive_identity_any.slide
  slide/src/test/ui/emit/latex/additive_identity_nested.slide
  slide/src/test/ui/emit/latex/additive_inverse_any.slide
  slide/src/test/ui/emit/latex/additive_inverse_nested.slide
  slide/src/test/ui/emit/latex/assign.slide
  slide/src/test/ui/emit/latex/distribute_negation.slide
  slide/src/test/ui/emit/latex/distribute_negation_nested.slide
  slide/src/test/ui/emit/latex/distribute_negation_with_eval.slide
  slide/src/test/ui/emit/latex/posate_nested.slide
  slide/src/test/ui/emit/latex/posate_nested_prec.slide
  slide/src/test/ui/emit/latex/posate_nested_right.slide
  slide/src/test/ui/emit/latex/subtractive_identity_any.slide
  slide/src/test/ui/emit/latex/subtractive_identity_nested.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_const.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_nested.slide
  slide/src/test/ui/emit/latex/unwrap_brackets_var.slide
  slide/src/test/ui/emit/latex/unwrap_parens_const.slide
  slide/src/test/ui/emit/latex/unwrap_parens_nested.slide
  slide/src/test/ui/emit/latex/unwrap_parens_var.slide
Labels: a:bin, a:lib

#178 Add interner
  libslide/Cargo.toml
  libslide/src/emit.rs
  libslide/src/evaluator_rules/pattern_match.rs
  libslide/src/evaluator_rules/registry/fn_rules.rs
  libslide/src/evaluator_rules/rule.rs
  libslide/src/evaluator_rules/unbuilt_rule.rs
  libslide/src/grammar.rs
  libslide/src/grammar/intern.rs
  libslide/src/grammar/pattern.rs
  libslide/src/lib.rs
  libslide/src/math/poly.rs
  libslide/src/parser.rs
  libslide/src/parser/expression_parser.rs
  libslide/src/parser/expression_pattern_parser.rs
  libslide/src/partial_evaluator.rs
  libslide/src/partial_evaluator/flatten.rs
  libslide/src/utils/grammar.rs
  libslide/src/utils/test.rs
  slide/src/test/ui/emit/debug.slide
Labels: a:bin, a:lib

#190 Support evaluating assignment statements
  libslide/src/evaluator_rules/mod.rs
  libslide/src/evaluator_rules/registry.rs
  libslide/src/partial_evaluator.rs
  slide/src/lib.rs
  slide/src/test/ui/assign/assign.slide
Labels: a:bin, a:lib
